interface=wlan2
driver=nl80211
ssid={{ ap_wifi_ssid }}-5Ghz
macaddr_acl=0
auth_algs=1
ignore_broadcast_ssid=0
wpa=2
wpa_passphrase={{ vault_ap_wifi_password }}
wpa_key_mgmt=WPA-PSK
wpa_pairwise=TKIP
rsn_pairwise=CCMP
hw_mode=a
channel=36
wmm_enabled=1
country_code=FR
require_ht=1
require_vht=1
ieee80211n=1
ieee80211ac=1